<nav class="main-nav">
    <h3>Navigation</h3>

    {% if page.version %}
        {% assign v = page.version %}
    {% else %}
        {% assign v = site.data.versions.last %}
    {% endif %}
    <ul class="nav flex-column nav-pills nav-fill">
        <!-- <li class="nav-item "><a class="nav-link" href="https://github.com/AbsaOSS">AbsaOss</a></li> -->
        <li class="nav-item ">
            <a class="nav-link {% if page.url == "/" %}active{% endif %}"
                href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page.title == "Components" %}active{% endif %}"
                href="{{ site.baseurl }}/docs/{{ v }}/components">Components</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page.title == "Build Process" %}active{% endif %}"
                href="{{ site.baseurl }}/docs/{{ v }}/build-process">Build Process</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page.title == "Deployment" %}active{% endif %}"
                href="{{ site.baseurl }}/docs/{{ v }}/deployment">Deployment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page.title == "Usage" %}active{% endif %}"
                href="{{ site.baseurl }}/docs/{{ v }}/usage">Usage</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link {% if page.title == "About" %}active{% endif %}"
                href="{{ site.baseurl }}/about">About Us</a>
        </li>
    </ul>

    <ul id="shortcuts" class="nav">
        <li class="nav-item">
            <i class="fab fa-github fa-2x"></i>
            <p>Github</p>
        </li>
        <li>
            <i class="fas fa-bug fa-2x"></i>
            <p>Issues</p>
        </li>
        <li>
            <i class="fas fa-file-archive fa-2x"></i>
            <p>Maven</p>
        </li>
    </ul>
</nav>

<!--  p-3 mb-2 bg-secondary text-white
 p-3 mb-2 bg-secondary text-white
 p-3 mb-2 bg-secondary text-white -->